body, html {
  margin: auto auto;
  max-width: 1440px;
  background-color: #000000;
  color: white;
  padding: .1rem;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}
