.header {
  margin-top: .8rem;
}

.header .nav-bar {
  margin: auto auto;
  text-align: center;
}

.header .nav-bar .nav-bar-logo {
  margin-bottom: .2rem;
}

.header .nav-bar .nav-bar-logo a img {
  border-radius: 1rem;
  width: 95%;
}
