body, html {
  background-color: #000000;
  color: white;
  padding: .1rem;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  margin-top: .8rem;
}

.header .nav-bar {
  margin: auto auto;
  text-align: center;
}

.header .nav-bar .nav-bar-logo {
  margin-bottom: .2rem;
}

.header .nav-bar .nav-bar-logo a img {
  border-radius: 1rem;
  width: 95%;
}

.header .nav-bar .nav-menu {
  margin: auto auto;
  border-radius: .5rem;
  width: 95%;
  background-color: #1d2020;
  height: 3.3rem;
}

.header .nav-bar .nav-menu a h3 {
  margin: 1rem 2.5rem 1rem 2.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  display: inline-block;
  color: gray;
}

.header .nav-bar .nav-menu a h3:hover {
  color: white;
  border-bottom: solid .4rem #ffd4e7;
}

.header .nav-bar .nav-menu-for-mobile a h3 {
  padding-top: .4rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: auto auto;
  width: 95%;
  border-radius: 1rem;
  color: grey;
  letter-spacing: .2rem;
  background-color: #1d2020;
  height: 2rem;
  margin-top: .5rem;
}

.header .nav-bar .nav-menu-for-mobile a h3:hover {
  color: white;
}

#nav-menu-for-block {
  display: block;
}

#nav-menu-for-none {
  display: none;
}

.main .main-pic .main-pic-article h1 {
  font-size: 3rem;
  text-align: center;
  margin: 1rem;
}

.main .main-pic .main-pic-article p {
  margin: auto auto;
  width: 95%;
  text-align: justify;
  border-top: grey solid .04rem;
  padding-top: 1rem;
}
