.header{
    margin-top: .8rem;
    .nav-bar{
        margin: auto auto;
        text-align: center;
        .nav-bar-logo{
            margin-bottom: .2rem;
            a {
                img{
                    border-radius: 1rem;
                    width:95%;
            }
            }
        }

        .nav-menu{

            @include breakpoint-down(small){
                grid-template-rows: 10 20% 20% 20% 20% 10%;
                grid-template-columns: 100%;

                a h3{
                        margin: auto auto;
                        width: 95%;
                        height: 2rem;
                        border-radius: 1rem;
                        letter-spacing: .2rem;
                        padding-top: .4rem;
                        color: grey;
                        background-color: $barsBGColor;
                        margin-top: .5rem;
                        &:hover{
                            color: white;
                        }
                }
            }

            @include breakpoint-up(medium){
                grid-template-rows: 100%;
                grid-template-columns: repeat(4,1fr);
                margin: auto auto;
                border-radius: .5rem;
                width:95%;
                background-color: $barsBGColor;
                height: 2rem;
                display: grid;
                
                a h3{
                    margin:.1rem 2.5rem 1rem 2.5rem;
                    text-align: center;
                    display: inline-block;
                    color: gray;
                    &:hover{
                        color: white;
                        border-bottom: solid .4rem #ffd4e7;
                    }           
                }
            }
        }        
    }   
}